<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: url("https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3546783226,4183246390&fm=26&gp=0.jpg");
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
     <h2>{{ row[1] }}</h2>
     <h3>{{ row[2] }}</h3>
     <h4>{{ row[3] }}</h4>
     <a href="/editblog/{{ row[0] }}">修改</a>
     <a href="/delblog/{{ row[0] }}">删除</a>
</body>
</html>