<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/newblog" method="post">
    title : <input type="text" name="title"><br>
    author : <input type="text" name="username"><br>
    content :<textarea name="content" id="" cols="30" rows="10"></textarea><br>
    <input type="submit"></form>
<a href="/"><input type="button" value="返回首页"></a>

<script>
    {% if flag == 'defeat' %}
    alert('添加失败')
{%  elif flag == 'ok'%}
    alert('添加成功')

{% endif %}
</script>


</body>
</html>