<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="add" method="post">
    student_name:<input type="text" name="student_name"><br>
    studebt_age:<input type="text" name="studebt_age"><br>
    xueli:<input type="text" name="xueli"><br>
    shengfen_id:<input type="text" name="shengfen_id"><br>
    benren_dianhua:<input type="text" name="benren_dianhua"><br>
    hujidi:<input type="text" name="hujidi"><br>
    bishi:<input type="text" name="bishi"><br>
    jishi:<input type="text" name="jishi"><br>
    <input type="submit">
</form>
<a href="/">返回首页</a>
</body>
</html>